.chart__bar {
  height: 100%;
  width: 20px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}

.chart__bar p {
  margin: 0;
}

.chart__inner {
  height: 100%;
  border: 2px solid #000000;
  border-radius: 20px;
  background-color: #c3b4f3;
  position: relative;
}

.chart__fill {
  position: absolute;
  bottom: 0;
  height: 0%;
  left: 0;
  width: 100%;
  background-color: #4826b9;
  border-radius: 20px;
  transition: all 300ms ease;
}
