.expense__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #4b4b4b;
}

.expense__date {
  border: 2px solid #ffffff;
  background-color: #2a2a2a;
  color: #ffffff;
  width: 100px;
  height: 88px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.expense__date p {
  margin: 0;
}

.expense__date p:nth-of-type(1) {
  font-size: 12px;
  font-weight: 700;
}

.expense__date p:nth-of-type(2) {
  font-size: 12px;
}

.expense__date p:nth-of-type(3) {
  font-size: 24px;
  font-weight: 700;
}

.expense__title {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}

.expense__amount {
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
}
