.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__label {
  font-size: 16px;
  font-weight: 700;
}

.filter__list {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 48px;
  border-radius: 8px;
}
