.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #000000;
}

.form__group:nth-of-type(3) {
  grid-column: 1 / -1;
}

.form__group input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}
