form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 16px;
  font-weight: 700;
}

.form__btn {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
